<% content_for(:title, "Mario's Foods") %>

<div class="about">
  <h3>|About Mario's Foods|</h3>
    <p>Mario's has been offering consumers with high-quality food at reasonable pricing since 2000. We place a high value on customer happiness. That is why we have made it simple to write a product review and have posted all of them on our website. Share your experience.</p><br><br><hr>

  <div class="wrapper">
    <button class="btn btn-default"><%= link_to "Home", root_path %></button>
    <% if current_user && current_user.admin %>
    <button class="btn btn-default"><%= link_to "New Product", new_product_path %></button>
    <% end %>
  </div>

  <hr>
  <br>
  <h1>Products</h1>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
</div>